@model HomefulAPI.Models.Location

@{
    ViewBag.Title = "Create";
}

<h2>Create Location</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="col s12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="input-field col s12">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "validate" } })
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "validate" } })
                @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "" })
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "validate" } })
                @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "" })
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.TextAreaFor(model => model.Notes, new { htmlAttributes = new { @class = "materialize-textarea" } })
                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "" })
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @Html.ActionLink("Back to List", "Index")
            </div>
            <div class="col s6">
                <button class="btn-floating btn-large waves-effect waves-light red right" type="submit" name="Create">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
}

<div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
