@model HomefulAPI.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            Needs
        </dt>
        <dd>
            <ul>
                @foreach (HomefulAPI.Models.Need need in Model.Needs)
                {
                    <li>
                        <p>
                            <a href="/needs/complete/@need.Id">
                                <i class="material-icons">check</i>
                            </a>
                            @need.Name (@need.Quantity)
                        </p>
                            
                    </li>
                }
                <li>@Html.ActionLink("Add new need", "Create", "Needs", new { @id = Model.Id }, null)</li>
            </ul>
        </dd>
    </dl>

  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
